asgiref==3.7.2
beautifulsoup4==4.12.2
bs4==0.0.1
distlib==0.3.6
Django==4.2.1
django-ckeditor==6.5.1
django-js-asset==2.0.0
filelock==3.9.0
gunicorn==20.1.0
include==0.2.2
loader==2017.9.11
path==16.6.0
Pillow==9.5.0
platformdirs==3.0.0
psycopg2-binary==2.9.6
python-dotenv==1.0.0
soupsieve==2.4.1
sqlparse==0.4.4
virtualenv==20.19.0
