{% extends "base.html" %}

{% block content %}


<section class="main text-center">
      <main class="form-signin">
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
    <img class="mb-4" src="https://getbootstrap.su/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" >
    <h1 class="h3 mb-3 fw-normal">Пожалуйста, войдите</h1>

    <div class="form-floating">
      <input type="text" name="username" class="form-control" id="id_username" autocomplete="username" placeholder="name@example.com">
      <label for="id_username">Логин</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="id_password" name="password" placeholder="Password">
      <label for="id_password">Пароль</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Запомнить меня
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" value="login">Войти</button>
    <p class="mt-5 mb-3 text-muted">© 2023</p>
  </form>
      </main>
</section>



<!--<form method="post" action="{% url 'login' %}">-->
<!--{% csrf_token %}-->
<!--<table>-->


<!--  <tr>-->
<!--  <td><label for="id_username">Имя пользователя:</label></td>-->
<!--  <td><input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username"></td>-->
<!--</tr>-->
<!--  <tr>-->
<!--  <td><label for="id_password">Пароль:</label></td>-->
<!--  <td><input type="password" name="password" autocomplete="current-password" required="" id="id_password"></td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>{{ form.username.label_tag }}</td>-->
<!--  <td>{{ form.username }}</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>{{ form.email.label_tag }}</td>-->
<!--  <td>{{ form.email }}</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>{{ form.password.label_tag }}</td>-->
<!--  <td>{{ form.password }}</td>-->
<!--</tr>-->
<!--</table>-->

<!--<input type="submit" value="login" />-->
<!--<input type="hidden" name="next" value="{{ next }}" />-->
<!--</form>-->

<!--{# Assumes you setup the password_reset view in your URLconf #}-->
<!--<p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->

{% endblock %}