{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="main text-center">
      <main class="form-signin">
  <form action="." method="post">
     {% csrf_token %}
    <img class="mb-4" src="https://getbootstrap.su/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" >
    <h1 class="h3 mb-3 fw-normal">Пожалуйста, заполните поля для регистрации</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput_1" placeholder="name@example.com" name="username">
      <label for="floatingInput_1">Фамилия и имя</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput_2" placeholder="name@example.com" name="email">
      <label for="floatingInput_2">Адрес эл. почты</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword_1" placeholder="Password" name="password">
      <label for="floatingPassword_1">Пароль</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword_2" placeholder="Password" name="password2">
      <label for="floatingPassword_2">Введите повторно пароль</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>
    <p class="mt-5 mb-3 text-muted">© 2023</p>
  </form>
</main>
    </section>

{% endblock content %}
