{% load static category_tag %}

<header>
  <div class="container  mt-3">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="border-radius: 10px;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Shop ||</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Переключатель навигации">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Главная</a>
            </li>
            {% get_categories as categories %}

            {% for category in categories %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cloth' category=category.title %}">{{ category.title }}</a>
              </li>
            {% endfor %}

            {#        <li class="nav-item">#}
            {#          <a class="nav-link" href="{% url 'cloth' category='cloth' %}">Одежда</a>#}
            {#        </li>#}
            {#        <li class="nav-item">#}
            {#          <a class="nav-link" href="{% url 'cloth' category='shoes' %}">Обувь</a>#}
            {#        </li>#}


          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
          </form>


          <div class="authorization">
            {% if user.is_authenticated %}
              <button onclick="document.location='{% url 'logout'%}?next={{request.path}}'" class="btn btn-outline-danger"
                    type="submit">Выход
              </button>
            <button onclick="document.location='{% url 'basket' %}'"
                    class="btn btn-outline-warning" type="submit">Корзина
            </button>
              {% else %}
              <button onclick="document.location='{% url 'login'%}'" class="btn btn-outline-warning"
                    type="submit">Вход
              </button>
            <button onclick="document.location='{% url 'registration' %}'"
                    class="btn btn-outline-dark" type="submit">Регистрация
            </button>
              {% endif %}
          </div>

        </div>
      </div>
    </nav>
  </div>
</header>
